<div class="content">
    <div id="titulo-descripcion" class="titulo-descripcion">
        <h1>{{ nombre }}</h1>
        <p>{{ descripcion }}</p>
    </div>

    <!-- Contenedor de diapositivas -->
    <div id="slides">
        {% if diapositivas %}
            {% for diapositiva in diapositivas %}
                <div class="slide">{{ diapositiva }}</div>
            {% endfor %}
        {% else %}
            <p>No hay diapositivas disponibles.</p>
        {% endif %}
    </div>
</div>

<style>
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        margin: 0;
    }

    .slide {
        display: none;
    }
    .slide.active {
        display: block;
    }
    .titulo-descripcion {
        display: block;
    }
    .titulo-descripcion.hidden {
        display: none;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var slides = document.querySelectorAll(".slide");
        var totalSlides = slides.length;
        var currentSlide = -1;  // Inicializa currentSlide a -1 para que la primera diapositiva se muestre cuando se presione la flecha derecha por primera vez
        var tituloDescripcion = document.getElementById('titulo-descripcion');
    
        function showSlide(index) {
            for (var i = 0; i < totalSlides; i++) {
                slides[i].classList.remove("active");
            }
            if (index >= 0) {  // Solo muestra la diapositiva si index es mayor o igual a 0
                slides[index].classList.add("active");
                currentSlide = index;
                tituloDescripcion.classList.add("hidden");  // Oculta el título y la descripción cuando se muestra una diapositiva
            } else {
                tituloDescripcion.classList.remove("hidden");  // Muestra el título y la descripción cuando no se muestra ninguna diapositiva
            }
        }
    
        // Show the first slide on page load
        showSlide(currentSlide);
    
        // Add events for keyboard arrows
        document.addEventListener('keydown', function(event) {
            if (event.key === 'ArrowLeft') {
                currentSlide = currentSlide === 0 ? -1 : (currentSlide - 1 + totalSlides) % totalSlides;
                showSlide(currentSlide);
            } else if (event.key === 'ArrowRight') {
                if (currentSlide === totalSlides - 1) {
                    window.location.href = '/presentaciones/disponibles';  // Reemplaza esto con la URL de tu lista de presentaciones
                    window.close();  // Intenta cerrar la ventana actual
                } else {
                    currentSlide = (currentSlide + 1) % totalSlides;
                    showSlide(currentSlide);
                }
            }
        });
    
        // Add event for next arrow click
        document.getElementById('siguiente').addEventListener('click', function() {
            currentSlide = (currentSlide + 1) % totalSlides;
            showSlide(currentSlide);
        });
    });
</script>
</body>
</html>
