{% extends 'core/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Presentaciones</title>
</head>
<body>
    <h1>Lista de Presentaciones</h1>
    <ul>
        {% for presentacion in presentaciones %}
            <li>
                <a href="{% url 'detalle_presentacion' presentacion.pk %}">{{ presentacion.nombre }}</a>
                {% if user.is_superuser %}
                    <a href="{% url 'editar_presentacion' presentacion.pk %}">Editar</a>
                    <a href="{% url 'eliminar_presentacion' presentacion.pk %}">Eliminar</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if user.is_superuser %}
        <a href="{% url 'nueva_presentacion' %}">Crear Nueva Presentación</a>
    {% endif %}
</body>
</html>
{% endblock %}
