{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Presentación</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <style>
        /* Agrega este estilo para especificar un ancho fijo para los campos de texto */
        textarea {
            width: 500px;  /* Ajusta este valor según tus necesidades */
        }
    </style>
</head>
    <h1>Nueva Presentación</h1>
    <form id="presentation-form" method="post">
        {% csrf_token %}
        <fieldset id="presentacion">
            <label for="id_nombre">Titulo:</label>
            {{ presentacion_form.nombre }}
            <br> <!-- Agrega un salto de línea aquí -->
            <label for="id_descripcion">Descripción:</label>
            <textarea id="id_descripcion" name="descripcion" class="markdown-editor"></textarea>
        </fieldset>
        <fieldset id="diapositivas">
            <legend>Diapositivas</legend>
            {{ diapositiva_formset.management_form }}
            <div id="formset-container">
                {% for form in diapositiva_formset %}
                    <div class="formset-row" id="formset-row-{{ forloop.counter0 }}">
                        {{ form.subtitulo.errors }}
                        <p><label for="id_diapositiva_set-{{ forloop.counter0 }}-subtitulo">Subtítulo (opcional):</label> {{ form.subtitulo }}</p>
                        <!-- Deja solo el campo de texto de SimpleMDE -->
                        <div class="editor-container">
                            <label for="id_diapositiva_set-{{ forloop.counter0 }}-contenido">Contenido:</label>
                            <textarea id="id_diapositiva_set-{{ forloop.counter0 }}-contenido" name="diapositiva_set-{{ forloop.counter0 }}-contenido" class="markdown-editor">{{ form.contenido.value }}</textarea>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Mover el botón dentro del fieldset -->
            <button type="button" id="agregar-diapositiva">Agregar Diapositiva</button>
        </fieldset>
        <button type="submit">Guardar</button>
    </form>
    <input type="hidden" id="id_form-TOTAL_FORMS" name="form-TOTAL_FORMS" value="{{ diapositiva_formset.total_form_count }}">
    <script src="{% static 'js/simplemde.min.js' %}"></script>
    <script src="{% static 'js/diapos.js' %}"></script>
</body>
</html>
{% endblock %}