{% extends 'layouts/base-fullscreen.html' %}

{% block content %}

<h3> Menú Presentaciones</h3>

{% if presentaciones %}
<div id="presentacion" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for presentacion in presentaciones %}
    <div class="carousel-item {% if forloop.first %} active {% endif %}">
      <h5>{{ presentacion.titulo }}</h5>
      <p>{{ presentacion.contenido }}</p>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#presentacion" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#presentacion" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
{% else %}
<p>No hay presentaciones disponibles.</p>
{% endif %}

<a href="{% url 'core_app:crear_diapositiva' %}" class="btn btn-primary">Crear Diapositiva</a>

<div class="text-center mt-3">
  <a href="{% url 'core_app:presentaciones_archivos_txt' %}" class="btn btn-primary">Diapositivas TXT</a>
</div>

<div class="text-center mt-3">
  <a href="{% url 'core_app:lista_diapositivas' %}" class="btn btn-primary">Lista Diapositivas</a>
</div>


<div class="text-center mt-3">
<a href="{% url 'core_app:presentacion_completa' %}" class="btn btn-primary">Diapositivas Completas</a>
</div>



{% endblock %}
